.color-selector {
    $element-size: 35px;
    $border-radius: 8px;
    $indicator-thickness: 4px;
    $row-length: 8;

    margin: 10px 5px;
    width: $element-size * $row-length;
    line-height: 0;

    position: relative;

    border-radius: $border-radius;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);

    .color-element {
        width: $element-size;
        height: $element-size;

        display: inline-block;
        cursor: pointer;

        &:nth-child(1) {
            border-top-left-radius: $border-radius;
        }

        &:nth-child(#{$row-length}) {
            border-top-right-radius: $border-radius;
        }

        &:nth-last-child(2) {
            border-bottom-right-radius: $border-radius;
        }

        &:nth-last-child(#{$row-length + 1}) {
            border-bottom-left-radius: $border-radius;
        }
    }

    .selection-indicator {
        width: $element-size + $indicator-thickness * 2;
        height: $element-size + $indicator-thickness * 2;
        box-sizing: border-box;

        position: absolute;
        top: -$indicator-thickness;
        left: -$indicator-thickness;

        transition: transform .2s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translate(calc(var(--color-x) * $element-size),
                calc(var(--color-y) * $element-size));

        border: $indicator-thickness solid white;
        border-radius: $border-radius;
        box-shadow:
            0 0 0 2px inset black,
            0 2px 5px 2px inset rgba(0, 0, 0, 0.25),
            0 2px 5px 1px rgba(0, 0, 0, 0.25);
    }
}