.canvas-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: hidden;

    background: #0f0f0f;
}

.canvas-pane {
    width: min-content;
    height: min-content;

    padding: 80vh 80vw;

    cursor: grab;

    * {
        user-select: none;
    }
}

.toolbar {
    height: 50px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    box-sizing: border-box;
    padding: 5px;

    $bg-value: 10;
    background: rgba($bg-value, $bg-value, $bg-value, 0.7);
    backdrop-filter: blur(15px);
    box-shadow: 0 -1px 6px 5px rgba(0, 0, 0, 0.5);

    :not(:first-child) {
        margin-left: 5px;
    }

    .spacer {
        flex: auto;
    }
}